# Publish Message Configuration
# Set ACTIVE_PLATFORM to one or comma-separated: discord, telegram, gitlab
ACTIVE_PLATFORM="discord"

# --- DISCORD ---
DISCORD_WEBHOOK_URL=""

# --- TELEGRAM ---
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

# --- GITLAB ---
GITLAB_TOKEN=""
# Optional, default: https://gitlab.com
GITLAB_API_URL=""
